* {
  margin: 0;
  padding: 0;
}
:root {
  /* fontes */

  --ff-heading: "Epilogue", sans-serif;
  --ff-texting: "Open sans", sans-serif;

  /* cores */

  /* color HSL */

  --hue: 250;
  --bg-primary: hsl(var(--hue), 22%, 20%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secunday: hsl(var(--hue), 50%, 80%);
  --fc-dark: hsl(var(--hue), 100%, 11%, 1);

  font-size: 62.5%;

  --fsBody: 1.6rem;
  --fsHeader: clamp(4rem, 1rem + 5vh, 5.6rem);
  --fsHeaderSm: clamp(3rem, 0.5rem + 3vh, 4rem);
}
main {
  gap: 3.2rem;
  animation: dawtop 700ms 350ms backwards;
}
img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
body {
  background-color: var(--bg-primary);
  font-family: var(--ff-texting);
  color: var(--fc-primary);
  font-size: var(--fsBody);
  text-align: center;
}
.page {
  max-width: 33rem;
  margin: auto;
  margin-bottom: 200px;
}
@media (min-width: 1058px) {
  .page {
    max-width: 117rem;
    padding: 0 5rem;
  }
  main .colum01 {
    grid-template-columns: 1fr 2fr;
    display: grid;
    gap: 40px;
    margin-bottom: 40px;
  }
  main .colum02 {
    grid-template-columns: 2fr 1fr;
    display: grid;
    gap: 40px;
  }
}

header {
  margin: 10rem 0 8rem;
  font-family: var(--ff-heading);
  letter-spacing: 3px;
  animation: topdown 700ms;
}
header p {
  color: var(--fc-secunday);
  text-transform: uppercase;
  margin-bottom: 1.7rem;
  line-height: 3.2rem;
  font-weight: 400;
}
header h1 {
  font-weight: 800;
  font-size: var(--fsHeader);
  line-height: 4.8rem;
}
.card {
  position: relative;
  font-family: var(--fsHeader);
}
.card img {
  height: 41.6rem;
  object-fit: cover;
  transition: all 200ms;
  filter: brightness(0.5);
}
.card img:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 0.4;
}
.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
  font-size: var(--fsHeaderSm);
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.card h2 span {
  padding: 1.6rem;
  border-radius: 2rem;
  background-color: var(--fc-primary);
  font-size: var(--fsBody);
  color: var(--fc-dark);
  font-weight: 400;
  padding: 0 1.6rem;
  height: 3.8rem;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  height: 3.8rem;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dawtop {
  0% {
    opacity: 0;
    transform: translatey(15px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}
